<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>vedx</title>
</head>

<body class="container-fluid" style="background-color:#FAEBD7;">
  <div class="row mt-3 mb-3">
    <div class="col-9">
      <h1>All Orders</h1>
    </div>
    <div class="col-2 mt-2">
      <a href="/order/customer"><button class="btn bg-light">Add an Order</button></a>
    </div>
    <div class="col-1 mt-2 mb-1">
      <a href="/"><button class="btn bg-light">Home</button></a>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">CUSTOMER</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">PRODUCT</th>
        <th scope="col">Date Order</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <%var i = 1%>
      <% for(dta of data){%>

          <tr>

            <th scope="row"><%=i%></th>
            <td><%=dta.customer%></td>
            <td>
              <%=dta.country%>
              <p><%=dta.address%></p>
            </td>
            <td>
              <%=dta.product_title%>
              <p><%=dta.product_description%></p>
            </td>

            <td><%=dta.date%></td>
            <%
            if(dta.status=="Delivered"){
             var col = "btn-outline-primary";}
            else if(dta.status=="Completed"){
             var col = "btn-outline-success";}
            else{
              var col = "btn-outline-warning"; }
              %>
            <td><button class="btn <%=col%>" ><%=dta.status%></button>
              <a href="/orders/<%=dta._id%>/edit"><spam class="text-dark">(update)</spam>
            </a></td>

          </tr>
          <%i+=1%>


      <% }%>


    </tbody>
  </table>

</body>

</html>
